@tailwind base;
@tailwind components;
@tailwind utilities;
/* @font-face {
  font-family: 'Forma DJR Display Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../font/djr/FormaDJRDisplay-Regular-Testing.woff') format('woff');
}
body {
  font-family: 'Forma DJR Display Regular' ;
} */

h1,h2,h3,h4,h5,h6,p{
  font-size:  17px;
}
/* Custom Scrollbar */
.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #a58255; /* Change scrollbar color */
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #f4e4c9;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
